nav {
  width: 100%;
  height: 12rem;
  background-color: var(--white);
  display: flex;
  flex-flow: column nowrap;
}

/* ---LOGO/ZITAT--- */
nav .container_1 {
  display: flex;
  flex-flow: row nowrap;
  height: 70%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

nav .container_1 .logo {
  width: 50%;
  font-size: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.nav_logo_container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_logo_container .nav_logo {
  height: 80%;
  width: 100%;
  background-image: url("../src/faGrow_trans.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

nav .quote {
  display: flex;
  color: var(--black);
  font-size: 1.5rem;
  font-style: italic;
  width: 50%;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* ---NAVIGATION--- */

nav .container_2 {
  width: 100%;
  height: 30%;
  display: flex;
  flex-flow: row nowrap;
}

nav .container_resp {
  display: none;
  height: 100%;
  width: 100%;
}

[class*='nav_element_'] {
  width: 25%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition-duration: .3s;
  color: var(--black);
}


[class*='nav_element_']:hover {
 /* background-color: var(--black); */
    color: var(--blue);
}

[class*='nav_element_']:active {
 /* background-color: var(--black); */
    color: var(--red);
    transform: scale(0.9);
}
